html,
body {
    margin: auto;
    /*padding: 30px;*/
    max-width: 1366px;
    min-width: 800px;

    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
    color: thistle;

    position: relative;
    min-height: 100vh;

    background: thistle;
}

#container {
    background: #6D82F9;
    min-height: 96vh;
}

.col p { 
    display: inline-block;
    margin: 0;
    width: 50%;
    height: 500px;
}
.col2 p {
    display: inline-block;
    margin: 0;
    width: 45%;
    float: right;
    height: 500px;
    position: relative;
    bottom: 560px;
    left: 10px;
}

header {
    text-align: center;
    background: #353F78;
    padding: 10px;
    /*margin-top: 30px;*/
    margin-bottom: 30px;
    font-size: 1.5em;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

article {
    margin: auto;
    margin-bottom: 40px;
    max-width: 1200px;
    background: #1B35C4;
    border-radius: 2em;
    padding: 2em;
}

article p {
    line-height: 2;
}

article h2 {
    color: thistle;
    font-size: 2em;
    margin: 10px 0px 10px 0px;
}

article time {
    color: #c5bc92;
    margin: 10px 0px 10px 0px;
    font-family: "Mukta", sans-serif;
    font-size: 1.25em;
}

article img {
    max-width: 500px;
    display: block;
    margin: 10px auto 10px auto;
}

article figcaption {
    font-size: 0.7em;
    text-align: center;
}

#container {
    padding-bottom: 4vh;
}

main {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4vh;
    color: #1B35C4;
    /*background: #1F1300;*/
}

a {
    color: #F36C0C;
}

footer a {
    color: #1B35C4;
}

header a {
    color: #dfd6a7;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background: #78353F;
}