html,
body {
    margin: auto;
    max-width: 1366px;
    min-width: 800px;

    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
    color: thistle;

    position: relative;
    min-height: 96vh;

    background: thistle;

}
main {
    justify-content: space-evenly;
    min-width: 800px;
}

header {
    text-align: center;
    background: #353F78;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.5em;
    border-radius: 10em;
}

header a {
    color: #dfd6a7;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background: #78353F;
}
  
.col p { 
    margin: 0;
    width: 48%;
    height: 500px;
    text-align:justify;
    text-justify:inter-word;
}

.col2 p {
    margin: 0;
    width: 48%;
    float: right;
    position: relative;
    bottom: 500px;
    left: 10px;
    text-align:justify;
    text-justify:inter-word;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

article {
    margin: auto;
    margin-bottom: 40px;
    max-width: 1200px;
    background: #1B35C4;
    border-radius: 2em;
    padding: 2em;
}

article p {
    line-height: 40px;
}

article h2 {
    color: thistle;
    font-size: 2em;
    margin: 10px 0px 10px 0px;
}

article time {
    color: #F36C0C;
    margin: 10px 0px 10px 0px;
    font-size: 1.25em;
}

#cont {
    padding-bottom: 300px;
}

main {
    margin-bottom: 50px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4vh;
    color: #dfd6a7;
    background: #353F78;
    border-radius: 10em;
}

a {
    color: #F36C0C;
}

footer a {
    color: #dfd6a7;
}