@font-face {font-family: "ThroneOfEgyptRegular";
    src: url("./fonts/ThroneOfEgyptRegular-AoM7.ttf");
}
@font-face {font-family: "Egyptsilhous";
    src: url("./fonts/Egyptsilhous-3lYZ.ttf");
}


html,
body {
    max-width: 1366px;
    min-width: 900px;
    background-image: url("./images/egypt.png");
    overflow-y: hidden;
    display: flex;
}

header {
    position: fixed;
    padding: 10px;
    background-color: #7D543E;
    display: block;
    list-style-type: none;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0px;
    font-size: 30px;
    font-family: "ThroneOfEgyptRegular";
}
ul li a {
    text-decoration: none;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: #ffdf9e;
}

header ul { margin: 0px 100px; float: right; }
header ul li { list-style: none; float: left; margin: 0px; padding: 13px; text-transform: uppercase;}
header ul li a { color: #EB7130; list-style: none; text-decoration: none;}
header ul li a:hover { color: #fff; }
header span { line-height: 1px; }

.cont {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#title {
    font-size: 40px;
    color: #EB7130;
}

#chars {
    font-size: 30px;
    color: #EB7130;
    font-family: "Egyptsilhous";
}
#hidden1 {
    visibility: hidden;
}
#hidden2 {
    visibility: hidden;
}
#hidden3 {
    visibility: hidden;
}

#gallery-text1 {
    position: absolute;
    bottom: 10px;
    float: left;
    font-family: "ThroneOfEgyptRegular";
    color:#7D543E;
    font-size: 50px;
}
#gallery-text2 {
    position: absolute;
    bottom: 10px;
    float: left;
    font-family: "ThroneOfEgyptRegular";
    color:#7D543E;
    font-size: 50px;
}
#gallery-text3 {
    position: absolute;
    bottom: 10px;
    float: left;
    font-family: "ThroneOfEgyptRegular";
    color:#7D543E;
    font-size: 50px;
}

.gallery1 {
    position: absolute;
    max-height: 500px;
    max-width: 500px;
    left: 1%;
    top: 100px;
    margin: 0 auto;
    border: 5px double
    #7D543E;
    width: 100%;
    height: 100%; 
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    background: #ffdf9e; 
    background-image: url(./images/noise.png);
}


.gallery2 {
    position: absolute;
    max-height: 500px;
    max-width: 500px;
    left: 40%;
    top: 100px;
    margin: 0 auto;
    border: 5px double 
    #7D543E;
    width: 100%;
    height: 100%;
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    background: #ffdf9e; 
    background-image: url(./images/noise.png);
}

.gallery3 {
    position: absolute;
    max-height: 500px;
    max-width: 500px;
    left: 79%;
    top: 100px;
    margin: 0 auto;
    border: 5px double
    #7D543E;
    width: 100%;
    height: 100%;
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
	background: #ffdf9e; 
    background-image: url(./images/noise.png);
}

.gallery1 img {
    width: 50%;
    position: absolute;
    z-index: 10;
    transition: all .5s;
    box-shadow: -3px 1px 5px rgba(0,0,0,.5);
}

.gallery2 img {
    width: 50%;
    position: absolute;
    z-index: 10;
    transition: all .5s;
    box-shadow: -3px 1px 5px rgba(0,0,0,.5);
}

.gallery3 img {
    width: 50%;
    position: absolute;
    z-index: 10;
    transition: all .5s;
    box-shadow: -10px 10px 15px rgba(0,0,0,.5);
}

.gallery1 img:hover {
    z-index: 20;
    transform: scale(1.5) rotate(-10deg);
    cursor: pointer;
} 
.gallery2 img:hover {
    z-index: 20;
    transform: scale(1.5) rotate(10deg);
    cursor: pointer;
} 
.gallery3 img:hover {
    z-index: 20;
    transform: scale(1.5) rotate(-10deg);
    cursor: pointer;
} 

.gallery1 img:not(:hover) {transform: scale(1.1);} 
.gallery2 img:not(:hover) {transform: scale(1.1);} 
.gallery3 img:not(:hover) {transform: scale(1.1);} 

.img1 {left: 5rem; top: 10rem;}
.img2 {left: 11rem; top: 5rem;}
.img3 {right: 10rem; top: 8rem;}
.img4 {left: 11rem; top: 6rem;}
.img5 {left: 10rem; top: 1rem;}

.img6 {left: 5rem; top: 2rem;}
.img7 {left: 12rem; top: 5rem;}
.img8 {right: 10rem; top: 8rem;}
.img9 {left: 13rem; top: 10rem;}
.img10 {left: 10rem; top: 7rem;}

.img11 {left: 5rem; top: 2rem;}
.img12 {left: 10rem; top: 7rem;}
.img13 {right: 2rem; top: 2rem;}
.img14 {left: 6rem; top: 2rem;}
.img15 {left: 10rem; top: 1rem;}
.img16 {left: 5rem; top: 3rem;}
.img17 {left: 6rem; top:5rem;}
.img19 {left: 2rem; top:5rem;}
