html,
body {
  margin: auto;
  max-width: 1366px;
  min-width: 900px;
  font-family: 'Nunito', sans-serif;
}

header {
  margin: 30px;
}

main {
  justify-content: space-evenly;
  min-width: 800px;
}

ol {
  list-style: none;
  text-shadow: darkblue;
  text-decoration-color: darkcyan;
}

#imgalign { 
  width: 200px; 
  text-align:right; 
}

#banner {
  margin: auto;
  position: relative;
  width: 1100px;
  height: 250px;
  overflow: hidden;
}

#banner:hover {
  cursor: pointer;
}

#banner:hover #sword {
  transform: scale(0.99) translate(170px);
  transition: all 1s ease-in-out;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.930, 0.235, 0.115, 0.860);
}

#banner:hover #shield {
  transform: scale(0.99) translate(-170px);
  transition: all 1s ease-in-out;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.930, 0.235, 0.115, 0.860);
}

#banner:hover #shuriken {
  animation-name: shurikenattaccc;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 0;
  left: 0;
}

#sword {
  width: 100px;
  height: 100px;
  padding: 20px;
}

#shield {
  width: 100px;
  height: 100px;
  bottom: 150px;
  position: relative;
}

#shuriken {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  position: relative;
}

.rotshu:hover {
  animation: rotation 1s infinite linear;
  cursor: pointer;
}


@keyframes shurikenattaccc {
  0% {
      left: 0;
  }
  33% {
      left: calc(33% - 60px);
      bottom: 70%;
      width: 60px;
      height: 60px;
  }
  66% {
      left: calc(66% - 40px);
      bottom: 0;
      width: 40px;
      height: 40px;
  }
  100% {
      left: calc(100% - 20px);
      bottom: 50%;
      width: 20px;
      height: 20px;
  }
}


.col {
  display: inline-grid;
  background-color:lightsteelblue;
  padding: 2%;
  margin: 1%;
  width: 25%;
  background-image: linear-gradient(-45deg, lightsteelblue 0, skyblue 100%);
  box-shadow: 0 3px 13px 0 rgba(14, 9, 73, 0.2),
    0 11px 21px 0 rgba(255, 166, 220, 0.004);
  border-bottom: 20px solid cadetblue;
  font-weight:normal;
}

.col:hover{
  padding: 3%;
  display: inline-grid;
  margin: 1%;
  font-size: 15px;
  text-transform:capitalize;
  background-image: linear-gradient(-45deg, #b8718f 0, #af63c4 100%);

  font-weight: bolder;
}

.navbar {
  position: relative;
  justify-content: space-between;
  padding: 10px;

 }

.introcol {
  font-weight:bolder;
  display: inline-block;
  vertical-align: top;
}

.introcoll {
  display: inline-block;
  vertical-align:bottom;
}

.intro  {
  position: relative;
 /* top: 1%;
  right: 50%; */
}

.logorotate {
  animation: rotation 1s infinite alternate;
  transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

a:link, a:visited {
  color:darkred;
  text-decoration: none;
  font-weight:normal;
}

a:hover{
  color:darkturquoise;
  font-weight: bolder;
}

  body {
    background-color:thistle;
    background-size:cover;
  }

.footer {
  position:static;
  top: 110%;
  right: 45%;
}