@font-face {
    font-family: "centurion";
    src: url("media/fonts/the_centurion/The\ Centurion\ .ttf");
}
@font-face {
    font-family: "seagram";
    src: url("media/fonts/seagram_tfb/Seagram\ tfb.ttf");
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: "centurion";
    text-align: center;
    font-size: 60px;
    color: black;
    font-weight: lighter;
}

a, p, h2 {
    font-family: "seagram";
    color: black;
}

button {
    font-family: "seagram";
    background-color:#DBC0B9;
    padding: 10px;
}

body {
    font-family: "seagram";
    background-color: #B59BBF;
    color: black;
    line-height: 1.5em;
    width: 1266px;
    height: 668px;
    margin: auto;
    overflow-y: hidden;
    max-width: 1366px;
    max-height: 768px;
    position: relative;
    align-self: auto;
    display: flex;
    flex-direction: column;
}


.dice {
    position: relative;
    top: 150px;
    max-width: 220px;
    animation: diceFade 0.5s;
}

@keyframes diceFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#players {
    display: flex;
    justify-content: space-between;
}


.player {
    position: relative;
}


.slash {
    animation: slash 0.5s linear;
}

@keyframes slash {
    0% {
        transform: translate(100px);
        transform: translate(100px);
    }
    50% {
        transform: translate(-100px);
    }
    100% {
        transform: translate(-100px);
    }
}

.score {
    font-size: 3em;
    color: black;
    position: absolute;
    top: 300px;
    left: 120px;
}

ol {
    list-style: none;
    text-decoration: none;
}

a {
    list-style: none;
    text-decoration: none;
}

footer {
    position: absolute;
    top: 90%;
    right: 35%;
    font-size: 30px;
}
footer a {
    list-style: none;
    text-decoration: none;
}

footer a:hover{
    color: purple;
}