@font-face {font-family: "Meteoric-Bold";
    src: url("fonts/Meteoric-Bold/Meteoric-Bold.ttf");
    src: url("fonts/Meteoric-Bold/@font-face/82a1a6e5316d84f1b8e2fa22a97e1211.eot");
    src: url("fonts/Meteoric-Bold/@font-face/82a1a6e5316d84f1b8e2fa22a97e1211.woff") format("woff"),
    url("fonts/Meteoric-Bold/Meteoric-Bold.otf") format("opentype"),
    url("fonts/Meteoric-Bold/@font-face/82a1a6e5316d84f1b8e2fa22a97e1211.svg") format("svg");
  }

html,
body {
    margin: auto;
    max-width: 1366px;
    min-width: 800px;

    font-family: "Meteoric-Bold", sans-serif;

    color: palevioletred;

    position: static;
    background-color:black;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px); 
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

@keyframes bgChange {
  0% {
    background: #000009;
  }
  100% {
    background: #000010;
  }
}

header {
  text-align: center;
}

a {
  color: palevioletred;
  text-decoration: none;
}

a:hover {
  background-color: #153243;
}

@keyframes space {
}

#title {
  position: static;
  width: 750px;
  height: 100px;
  padding-top: 10px;
  margin: auto;
}

#spaceship {
  position: absolute;
  bottom: 100px;
  right: 900px;
  transform: rotate(0deg);
  animation: move-spaceship 30s linear;
}

@keyframes move-spaceship {
  25% {
    transform: translate(100px);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: translateY(-500px);
  }
}

input[type=text] {
  width: 200px;
  transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
  width: 250px;
}


.container {
  position: absolute;
  color: rebeccapurple;
  max-width: 600px;
  padding: 1.5em 2em 1.5em 2em;
  bottom: 100px;
  left: 900px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;  
}



@keyframes neonGlow {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px rgb(9, 137, 241),
      0 0 11px rgb(87, 30, 153),
      0 0 19px rgb(26, 5, 216),
      0 0 40px rgb(91, 13, 94),
      0 0 80px #0fa,
      0 0 90px rgb(82, 70, 110),
      0 0 100px rgb(148, 238, 208),
      0 0 150px rgb(255, 16, 215);
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

h1 {
  animation: neonGlow 5s infinite alternate;   
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;  
}

footer {
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;  
}

#ipt {
  height: 500px;
}

.slideout {
  animation: disappear 1s forwards;
}

@keyframes disappear {
  0% {visibility: hidden;}
  100% {visibility: hidden;}
}

#otpt {
  color: rebeccapurple;
}

.slidein {
  animation: display 1s forwards;
}

@keyframes display {
  0% {top: 500px;}
  100% {top: 800px;}
}

#madlib {
  line-height: 2;
  position: static;
  bottom: 500px;
  color: palevioletred;
}

label {
  display: block;
  font-size: 0.8em;
  margin-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 20px;
  left: 990px;
  color: palevioletred;
}

input {
  margin: 0.4px 0px 20px 20px;
  border: 5px rebeccapurple;
  border-radius: 5px;
  background-color: rebeccapurple;
  color: black;

}

#submit {
  display: block;
  margin: auto
}



/* black-hole css */

:root {
  --photon: rgb(221, 224, 8);
  --accretion: rgb(196, 49, 49);
}

bh-container {
  display: grid;
  place-items: center;
  position: absolute;
  right: 350px;

  grid-template-areas: "bh-shadow";
  animation: colorSpan 10s ease infinite;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
  animation-name: init;
  animation-duration: 4s;
  animation-iteration-count: 1;
}


@keyframes colorSpan {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#photon-ring {
  width: 35vw;
  height: 35vw;
  border-radius: 100%;
  grid-area: bh-shadow;
  background: var(--photon);
  animation: photon 8s ease-in-out 0.5s infinite alternate;
  z-index: 2;
}

@keyframes photon {
  0%   {
    transform: rotate(0deg);
    border-radius: 51% 50% 155% 52% / 51% 13% 88% 48%;
    opacity: .2;
  }
  50% {
    transform: rotate(-160deg) ;
    border-radius: 63% 50% 55% 42% / 67% 27% 65% 47%;
    opacity: .4;
    filter: blur(50px);
  }
  0%   {
    transform: rotate(0deg);
    border-radius: 51% 50% 55% 52% / 51% 43% 38% 48%;
    opacity: .6;
  }
}

#accretion {
  width: 30vw;
  height: 30vw;
  background: var(--accretion);
  grid-area: bh-shadow;
  border-radius: 63% 50% 55% 42% / 67% 47% 65% 47%;
  animation: accretion 8s ease-in-out 0.5s infinite alternate;
  z-index: 3;

}

@keyframes accretion {
  0%   {
    transform: scale(1) rotate(0deg);
    border-radius: 51% 50% 55% 52% / 51% 43% 68% 48%;
  }
  50% {
    transform: scale(1.4) rotate(100deg) ;
    border-radius: 63% 50% 55% 42% / 67% 47% 65% 47%;
    opacity: 0.7;
  }
  0%   {
    transform: scale(0.9) rotate(0deg);
    border-radius: 51% 50% 55% 52% / 51% 43% 68% 48%;
  }
}

#backdrop {
  width: 100vw;
  height: 100vh;
  grid-area: bh-shadow;

}

#hide {
  visibility: hidden;
}

#bhshadow {
  width: 20vw;
  height: 20vw;
  background: black;
  display: flex;
  border-radius: 50%;
  grid-area: bh-shadow;
  animation: shadow 2s ease-in-out 0.5s infinite alternate;
  z-index: 5;
  box-shadow: 2px 3px 10px 1px white, -20px 65px 160px 10px rgba(255, 255, 255, 0.7),  -2px -3px 0px 1px rgba(255, 255, 255, 0.2), -4px 14px 30px 3px rgba(255, 255, 255, 0.5);
}

@keyframes shadow {
  0% { transform: rotate(10deg)}
  20% { transform: rotate(30deg)}
  40% { transform: rotate(20deg)}
  50% { transform: rotate(50deg)}
  70% { transform: rotate(90deg)}
  100% { transform: rotate(180deg)}
}


@keyframes init {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}


